/* body {
  overflow-y: hidden !important;
  overflow-x: hidden !important;
} */

/* .overflowAbout {
  overflow-y: visible !important;
} */

.poppins {
  font-family: "Poppins";
}

.bgSiteGreen {
  background-color: #01bbae;
}

.textSiteGreen {
  color: #01bbae;
}

.footer {
  background-color: #333333;
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 40px;
  width: 100%;
  opacity: 75%;
}

.contactForm {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  align-items: center;
}

.projectsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  align-items: center;
  gap: 60px;
}

.transitionMenu {
  height: 100vh !important;
  /* width: 100% !important; */
}

/* .aboutGrid {
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
} */

/* for smaller screens  */

@media only screen and (max-width: 350px) {
  .onVSmall {
    display: none;
  }

  .aboutMarginB {
    margin-bottom: 450px;
    margin: 0;
  }

  .contactForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .smallprojects {
    width: 280px !important;
  }
}

@media only screen and (max-width: 300px) {
  .smallprojects {
    width: 250px !important;
  }
}

@media only screen and (max-width: 370px) {
  .smallprojectsloop {
    display: none;
    /* font-size: 12px !important; */
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
