/* body {
  overflow-y: hidden !important;
  overflow-x: hidden !important;
} */

/* .overflowAbout {
  overflow-y: visible !important;
} */

.shapeworks {
  transform: scale(1.25);


}
.shapeworks:hover {
  background-color: #01bbae;
}

.poppins {
  font-family: "Poppins";
}

.bgSiteGreen {
  background-color: #01bbae;
}

.textSiteGreen {
  color: #01bbae;
}

.footer {
  background-color: #333333;
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 40px;
  width: 100%;
  opacity: 75%;
}

.contactForm {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  align-items: center;
}

.projectsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  align-items: center;
  gap: 60px;
}

.transitionMenu {
  height: 100vh !important;
  /* width: 100% !important; */
}

/* .aboutGrid {
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
} */

/* for smaller screens  */

@media only screen and (max-width: 350px) {
  .onVSmall {
    display: none;
  }

  .aboutMarginB {
    margin-bottom: 450px;
    margin: 0;
  }

  .contactForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .smallprojects {
    width: 260px !important;
  }

  .smallprojectstext {
    width: 240px !important;
    font-size: small;
  }
}

@media only screen and (max-width: 300px) {
  .smallprojects {
    width: 250px !important;
  }
}

@media only screen and (max-width: 370px) {
  .smallprojectsloop {
    display: none;
    /* font-size: 12px !important; */
  }
}

@media only screen and (min-width: 1800px) {
  .largescreentext {
    font-size: 32px !important;
  }
}

/* target */

.moveThisBit {
  animation: targetttt;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

@keyframes targetttt {
  10% {
    transform: translate(0, 0);
  }

  35% {
    transform: translate(40px, 40px);
  }

  40% {
    transform: translate(40px, -20px);
  }
  45% {
    transform: translate(40px, -40px);
  }
  50% {
    transform: translate(-20px, -40px);
  }
  65% {
    transform: translate(-40px, -40px);
  }
  75% {
    transform: translate(-20px, 20px);
  }
  85% {
    transform: translate(0px, 0px);
  }

  100% {
    transform: translate(0, 0);
  }
}

.moveThisCircle {
  animation: targettttCircle;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

@keyframes targettttCircle {
  10% {
    transform: translate(40px, 40px);
  }

  35% {
    transform: translate(40px, -20px);
  }

  40% {
    transform: translate(40px, -40px);
  }
  45% {
    transform: translate(-20px, -40px);
  }
  50% {
    transform: translate(-40px, -40px);
  }
  65% {
    transform: translate(-20px, 20px);
  }
  75% {
    transform: translate(-40px, 40px);
  }
  85% {
    transform: translate(0px, 0px);
  }

  100% {
    transform: translate(0, 0);
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
