/* body {
  overflow-y: hidden !important;
  overflow-x: hidden !important;
} */

/* .overflowAbout {
  overflow-y: visible !important;
} */

.poppins {
  font-family: "Poppins";
}

.bgSiteGreen {
  background-color: #01bbae;
}

.textSiteGreen {
  color: #01bbae;
}

.footer {
  background-color: #333333;
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 40px;
  width: 100%;
  opacity: 75%;
}

.contactForm {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  align-items: center;
}

/* .aboutGrid {
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
} */

@tailwind base;
@tailwind components;
@tailwind utilities;
